@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link {
  color: #fff;
  text-decoration: none;
}
